.auth-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f8fafc;
}

.reset-confirm-main-container {
  flex: 1;
  display: flex;
  min-height: calc(100vh - 80px);
}

@media (max-width: 968px) {
  .reset-confirm-main-container {
    flex-direction: column;
  }
}